{% extends 'catalog/base.html' %}

{% block content %}
<p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы
        хотели продать</p>

{% if request.user.is_authenticated %}
<div class="col-12 mb-4">
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product'%}">Добавить продукт</a>
</div>
{% endif %}

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{object.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">{{object.body|slice:100}}</ul>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
