{% extends 'catalog/base.html' %}
{% load my_tags%}
{% block content %}
<div class="container">
    <h1 class="card-title pricing-card-title text-center"> {{object.title}} </h1>
    <div class="row text-start">
        <img src="/media/{{object.preview}}" class="rounded float-left" width="250" height="250">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Цена</td>
                            <td>{{ object.price }} $</td>
                        </tr>
                        <tr>
                            <td class="w-25">Описание</td>
                            <td> {{ object.body }} </td>
                        </tr>
                        <tr>
                            <td class="w-25">Категория</td>
                            <td> {{ object.category }} </td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата создания</td>
                            <td> {{ object.creation_date }} </td>
                        </tr>
                        <tr>
                            <td class="w-25">Дата последнего изменения</td>
                            <td> {{ object.change_date }} </td>
                        </tr>
                        <tr>
                            <td class="w-25">Пользователь</td>
                            <td> {{ object.user|default:"-" }} </td>
                        </tr>
                        <tr>
                            <td class="w-25">Версия продукта</td>
                            <td>
                                {% for v in version%}
                                {{ v }}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="col-12 mb-4">

            <a class="btn btn-outline-primary" href="{% url 'catalog:update_product' object.pk %}">Редактировать продукт</a>

        </div>
        <div class="col-12 mb-4">
            {% if perms.catalog.delete_product%}
            <a class="btn btn-outline-primary" href="{% url 'catalog:delete_product' object.pk %}">Удалить продукт</a>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}